.gtusers-components-popover,
.gtusers-panel-control-wrapper {
	.gtusers-control-field {
		&.gtusers-cf-color-wrap {
			display: flex;
			align-items: center;
			gap: 15px;
			justify-content: space-between;

			.gtusers-color {
				display: flex;
				align-items: center;
				gap: 6px;
				flex-direction: row-reverse;

				.gtusers-undo-btn {
					padding: 0;
				}

				.dashicon {
					line-height: 22px;
				}
			}

			.gtusers-color-ball {
				background-image: linear-gradient(
								45deg,
								#e9e9e9 25%,
								transparent 0
				),
				linear-gradient(-45deg, #e9e9e9 25%, transparent 0),
				linear-gradient(45deg, transparent 75%, #e9e9e9 0),
				linear-gradient(-45deg, transparent 75%, #e9e9e9 0);
				background-position: 0 0, 0 5px, 5px -5px, -5px 0;
				background-size: 10px 10px;
				border-radius: 0;
				overflow: hidden;
				div {
					cursor: pointer;
				}
			}
		}
	}
}
