.gtusers-components-popover .gtusers-filter-image-content,
.gtusers-panel-control-wrapper .gtusers-filter-image-content {
	min-width: 230px;
	padding: 5px 6px;
}

.gtusers-components-popover .gtusers-control-field.gtusers-cf-filter-image-wrap,
.gtusers-panel-control-wrapper .gtusers-control-field.gtusers-cf-filter-image-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
