.dowp-components-popover .dowp-filter-image-content,
.dowp-panel-control-wrapper .dowp-filter-image-content {
	min-width: 230px;
	padding: 5px 6px;
}

.dowp-components-popover .dowp-control-field.dowp-cf-filter-image-wrap,
.dowp-panel-control-wrapper .dowp-control-field.dowp-cf-filter-image-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
