.rttpg-components-popover,
.rttpg-panel-control-wrapper {
	.rttpg-control-field {
		&.rttpg-cf-gradient-color {
			row-gap: 0;
		}

		&.rttpg-cf-gradient-wrap {
			--row-gap: 12px;

			.components-circular-option-picker {
				&__swatches {
					gap: 8px;
				}

				&__option-wrapper {
					height: 22px;
					width: 22px;

					&:hover {
						transform: scale(1);
					}

					&::before {
						display: none;
					}

					> svg {
						display: none;
					}
				}

				&__option {
					position: relative;
					padding: 5px;

					&::after {
						display: none;
					}

					&.is-pressed,
					&:hover {
						box-shadow: none !important;
					}

					&.is-pressed {
						&::before {
							content: "";
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							width: 16px;
							height: 16px;
							background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' width='1em' height='1em' fill='%23ffffff' %3E%3Cpath d='M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z'/%3E%3C/svg%3E") !important;
							pointer-events: none;
						}
					}
				}

				&__custom-clear-wrapper {
					margin-top: 6px;

					.components-button {
						font-size: var(--rttpg-admin-text-xs, 12px);
						padding: 5px 10px;
						display: inline-flex;
						align-items: center;
						justify-content: center;
						border: none;
						box-shadow: none;
						color: var(--rttpg-admin-color-black, #000);
						background-color: #e0e0e0;

						&:hover {
							color: var(--rttpg-admin-color-white, #fff);
							background-color: var(
											--rttpg-admin-color-primary,
											#0066ff
							);
						}

						&:focus {
							outline: 0;
							box-shadow: none;
						}
					}
				}
			}

			.components-custom-gradient-picker {
				> div {
					&:nth-of-type(2) {
						> div {
							&:nth-of-type(2) {
								> div {
									position: relative !important;
									top: 6.5px !important;
								}
							}
						}
					}
				}

				&__gradient-bar {
					height: 36px;
					border-radius: 4px;
				}

				&__markers-container {
					height: 100%;
				}

				&__insert-point,
				&__control-point-button {
					color: #fff;
					border-radius: 50%;
					transform: translateY(-50%);
					top: 50%;
					background: transparent;
					border: 2.5px solid #ffffff;
					box-shadow: none;

					&:hover,
					&:focus {
						box-shadow: none;
						outline: 0;
					}

					&:hover {
						background: transparent;
					}
				}

				&__insert-point {
					top: 11px;
				}

				.components-select-control__input,
				.components-textarea-control__input,
				.components-input-control__input {
					height: 34px !important;
					min-height: 34px !important;
				}

				.components-input-control__backdrop {
					display: none !important;
				}

				.components-angle-picker-control {
					&__angle-circle {
						border: 1px solid var(--rttpg-admin-color-border);
					}

					&__angle-circle-indicator {
						background: var(--rttpg-admin-color-primary, #0066ff);
						border-radius: 50%;
						border-color: var(--rttpg-admin-color-primary, #0066ff);
					}
				}

				&__ui-line {
					margin-bottom: 6px;

					.components-input-control__label {
						text-transform: capitalize;
						padding-bottom: 8px !important;
						margin-bottom: 0 !important;
					}

					.components-flex-item {
						&:last-of-type {
							align-self: baseline;

							.components-input-control__container {
								height: 34px !important;
								border: 1px solid var(--rttpg-admin-color-border);

								.components-truncate {
									color: var(
													--rttpg-admin-color-primary,
													#0066ff
									) !important;
								}

								.components-input-control__input {
									border: none !important;
									height: 31.5px !important;
									min-height: 31.5px !important;
									padding-right: 0 !important;
									padding-left: 6px !important;
									padding-top: 3px !important;
									padding-bottom: 3px !important;
								}

								&:focus {
									outline: 0;
									box-shadow: none;
									border-color: var(
													--rttpg-admin-color-primary, #0066ff
									);
								}
							}
						}
					}
				}
			}
		}
	}
}
