.gtusers-icon-main-wrapper {

	.choose-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 120px;
		font-size: 20px;
		color: #6d7882;
		background-color: #d5dadf;
		border: 1px solid #ddd;
		position: relative;
		cursor: pointer;
		transition: 0.4s;

		&.has-icon {
			background-color: #f6f6f6;
			background-image: -o-linear-gradient(45deg, #ddd 25%, transparent 0, transparent 75%, #ddd 0, #ddd), -o-linear-gradient(45deg, #ddd 25%, transparent 0, transparent 75%, #ddd 0, #ddd);
			background-image: linear-gradient(45deg, #ddd 25%, transparent 0, transparent 75%, #ddd 0, #ddd), linear-gradient(45deg, #ddd 25%, transparent 0, transparent 75%, #ddd 0, #ddd);
			background-size: 16px 16px;
			background-position: 0 0, 8px 8px;
		}

		.default-icon {
			font-size: 70px;
		}

		span {
			transition: color 0.4s;
		}

		.fa-plus {
			width: 40px;
			height: 40px;
			background-color: #fff;
			border-radius: 50%;
			line-height: 40px;
			text-align: center;
			pointer-events: none;
			border: 1px solid #999;
			box-sizing: border-box;
		}

		&:hover {
			color: #41474d;
		}

		&:not(.has-icon):hover {
			background-color: #bfc3c7;
		}
	}

	.components-input-control__label {
		color: var(--gtusers-secondary, #555);
		font-weight: 500;
		margin-bottom: 5px;
		display: block;
	}

	.icon-inner-wrapper {
		position: relative;

		.gtusers-icon-wrapper {
			background: #fff;
			display: block;
			position: absolute;
			top: 0;
			z-index: 9;
			border: 3px solid #ddd;
		}
	}

	.gtusers-icon-list-warp {
		width: 100%;
		display: block;
	}

	.gtusers-icon-wrapper {

		input {
			background: #fff;
			width: 100%;
			height: 36px;
			padding: 0 10px !important;
			border-radius: 3px 3px 0 0;
			border: 1px solid #E5E7EA;
			position: relative;
			z-index: 2;
			margin-left: -0.5px;

			&:focus {
				border: 1px solid #2184F9;
				outline: 0;
				box-shadow: none;
			}
		}

		.gtusers-remove-icon {
			top: 7px;
			box-shadow: none;
			line-height: 18px;
			border-collapse: #ddd;
		}

		.gtusers-font-list {
			span {
				border-bottom: .5px solid #E5E7EA;

				&.active {
					//border-bottom: 1px solid #555d66;
					color: #555d66;
				}
			}
		}
	}

	&.gtusers-toggle-enabled {
		label {
			font-size: 16px;
			line-height: 1;
			margin: 0;
			width: auto;
			display: inline-block;
		}
	}

	.gtusers-icon-list-icons {
		max-height: 177px;
		margin: 0;
		border: 1px solid #E5E7EA;
		border-top: 0;
		margin-top: -1px;
		overflow: auto;
		position: relative;
		z-index: 1;

		> span {
			text-align: center;
			font-size: 15px;
			float: left;
			width: 16.666666666666667%;
			margin: 0;

			span {
				display: block;
				height: 37px;
				line-height: 37px;
				border: 1px solid #E5E7EA;
				margin-left: -1px;
				margin-bottom: -1px;
				background: #fff;
				color: #565D66;
				transition: 300ms;
			}

			&:hover {
				cursor: pointer;

				span {
					color: #fff;
					background: #2184F9;
					border-color: #2184F9;
				}
			}

			&.gtusers-active {
				span {
					color: #fff;
					background: #2184F9;
					border-color: #2184F9;
				}
			}
		}

	}

	.gtusers-icon-list-inner {
		width: 100%;
		padding: 4px 9px;
		display: block;

		&:hover {
			cursor: pointer;
		}

		> i {
			font-style: normal;
			float: right;
			padding: 3px;
			font-size: 11px;

			&.fa-times:hover {
				color: red;
			}
		}
	}
}