.gtusers-components-popover,
.gtusers-panel-control-wrapper {
    .gtusers-control-field {
        .gtusers-cf-head .rt-left-part {
            display: flex;
            align-items: center;
        }

        .gtusers-cf-head .gtusers-label {
            margin-bottom: 2px;
            margin-right: 4px;
        }

        &.gtusers-cf-range-wrap {
            --row-gap: 5px;

            .components-input-control__input {
                height: 30px !important;
                min-width: 70px;
            }

            // components-range-control
            .components-range-control {
                &__wrapper {
                    color: var(--gtusers-admin-color-primary, #009FFF);
                    min-height: 25px;
                    height: 25px;
                    flex: 1 1 90% !important;

                    .acf-bf-cf-b-afb-199wkr {
                        background-color: var(--gtusers-admin-color-primary, #009FFF);
                    }
                }
            }

            .gtusers-cf-body {
                display: flex;
                align-items: center;
                gap: 8px;

                .components-base-control,
                .components-base-control__field,
                .gtusers-control-field {
                    flex-grow: 1;
                    margin-bottom: 0;
                }

                .gtusers-undo-btn {
                    font-size: 16px;
                    color: var(--gtusers-admin-color-secondary, #555);
                    background-color: transparent;

                    span {
                        font-size: inherit;
                    }

                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
