/**
 * Component: Grid System.
 */
%column-default {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.dowp-container,
.dowp-container-fluid, .dowp-container-lg,
.dowp-container-md, .dowp-container-sm, .dowp-container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

@media (min-width: 576px) {
    .dowp-container, .dowp-container-sm {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .dowp-container, .dowp-container-md, .dowp-container-sm {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .dowp-container, .dowp-container-lg, .dowp-container-md, .dowp-container-sm {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .dowp-container, .dowp-container-lg, .dowp-container-md, .dowp-container-sm, .dowp-container-xl {
        max-width: 1140px
    }
}
.dowp-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0
}

[class*="dowp-col-"] {
    @extend %column-default;
}

@for $i from 1 through 12 {
    .dowp-col-xs-#{$i} {
        flex: 0 0 calc($i * 100% / 12);
        max-width: calc($i * 100% / 12);
    }
}

@media only screen and (min-width: 768px) {
    .dowp-col-sm-24 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    @for $i from 1 through 12 {
        .dowp-col-sm-#{$i} {
            flex: 0 0 calc($i * 100% / 12);
            max-width: calc($i * 100% / 12);
        }
    }
}

@media only screen and (min-width: 992px) {
    .dowp-col-md-24 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    @for $i from 1 through 12 {
        .dowp-col-md-#{$i} {
            flex: 0 0 calc($i * 100% / 12);
            max-width: calc($i * 100% / 12);
        }
    }
}

@media only screen and (min-width: 1200px) {
    .dowp-col-lg-24 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    @for $i from 1 through 12 {
        .dowp-col-lg-#{$i} {
            flex: 0 0 calc($i * 100% / 12);
            max-width: calc($i * 100% / 12);
        }
    }
}

.dowp-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.dowp-row-cols-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.dowp-row-cols-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.dowp-row-cols-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.dowp-row-cols-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.dowp-row-cols-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
}

.dowp-row-cols-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.dowp-col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}