:root {
    --usgr-primary: #009FFF;
    --usgr-primary-dark: #007FCB;
    --usgr-border: #b7b7c3;
    --usgr-title: #212121;
    --usgr-body: #313234;
    --usgr-border1: #DCDCDC;
    --usgr-border2: #DDDDDD;
    --usgr-border3: #ABABAB;
    --usgr-transition: .4s;
    --card-bg: #FFFFFF;
    --usgr-white: #FFFFFF;
}

$primary_color: var(--usgr-primary, #009FFF);
$primary_dark: var(--usgr-primary-dark, #007FCB);
$title_color: var(--usgr-title, #212121);
$body_color: var(--usgr-body, #313234);
$body_border: var(--usgr-border, #313234);
$white_color: var(--usgr-white, #FFFFFF);