.dowp-components-popover,
.dowp-panel-control-wrapper {
	.dowp-control-dimensions {
		overflow: hidden;
		display: flex;
		.dowp-control-dimension {
			&:first-child input {
				border-left: 1px solid var(--dowp-border);
				border-radius: 3px 0 0 3px;
			}

			input {
				border-left: none;
				border-radius: 0;
				padding: 4px 0;
				display: block;
				text-align: center;
				width: 100%;
				height: 27px;
				border-color: var(--dowp-border);

				&:active,
				&:focus,
				&:hover {
					box-shadow: none;
					outline: 0;
				}
			}

			.dowp-link-dimensions {
				width: 40px;
				height: 30px;
				cursor: pointer;
				font-size: 15px;
				border-radius: 0 3px 3px 0;
				border: 1px solid var(--dowp-border);
				display: inline-flex;
				align-items: center;
				justify-content: center;

				&.linked {
					background-color: #d3e1e9;
					border-color: #d3e1e9;
				}

				.rt-dm-link-icon {
					font-size: 15px;
					width: auto;
					height: auto;
					display: inline-flex;
					align-items: center;
					line-height: 1;
				}

				&:focus,
				&:focus-visible {
					outline: 0;
					box-shadow: none;
				}
			}
		}

		.dowp-control-dimension-label {
			display: block;
			text-align: center;
			font-size: 9px;
			text-transform: uppercase;
			padding-top: 5px;
		}
	}
}
