.usgr-components-popover,
.usgr-panel-control-wrapper {
    .usgr-control-field {
        &.usgr-cf-alignment-wrap {
            .usgr-btn-group {
                .usgr-button {
                    font-size: 14px;
                    background: #fff;
                    border: 1px solid #ced7db;
                    height: 30px;
                    line-height: 30px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: -1px;
                    cursor: pointer;
                    transition: var(--usgr-transition);

                    &:hover,
                    &.active {
                        background: var(--usgr-primary);
                        color: #ffffff;
                    }

                    &:first-child {
                        border-radius: 4px 0 0 4px;
                    }

                    &:last-child {
                        border-radius: 0 4px 4px 0;
                    }

                    svg:focus {
                        outline: none;
                    }
                    i {
                        transition: none
                    }
                }
            }
        }
    }
}
