.usgr-components-popover .usgr-filter-image-content,
.usgr-panel-control-wrapper .usgr-filter-image-content {
	min-width: 230px;
	padding: 5px 6px;
}

.usgr-components-popover .usgr-control-field.usgr-cf-filter-image-wrap,
.usgr-panel-control-wrapper .usgr-control-field.usgr-cf-filter-image-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
