.dowp-panel-control-wrapper .dowp-cf-layout-style {
    .dowp-btn-group {
        gap: 5px;
    }

    .dowp-button {
        flex: 0 0 31.8%;
        cursor: pointer;
        transition: 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        position: relative;
        border-width: 1.5px !important;

        span {
            position: absolute;
            top: 15px;
            z-index: 99;
            font-weight: bold;
            letter-spacing: 1.5px;
        }

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            max-width: 100%;
        }

        svg:focus {
            outline: none;
        }

        &.active {
            background: #eef7fd  !important;
        }

        &:hover,
        &.active {
            border-color: var(--dowp-primary) !important;
        }
    }
}

.dowp-has-no-pro .dowp-panel-control-wrapper .dowp-cf-layout-style .dowp-button.pro-layout {
    border-color: #912d2d !important;
    background: #fbf0f0;
}