.usgr-components-popover,
.usgr-panel-control-wrapper {
    .usgr-control-field {
        .usgr-cf-head .rt-left-part {
            display: flex;
            align-items: center;
        }

        .usgr-cf-head .usgr-label {
            margin-bottom: 2px;
            margin-right: 4px;
        }

        &.usgr-cf-range-wrap {
            row-gap: 5px;

            .components-input-control__input {
                height: 30px !important;
                min-width: 70px;
            }

            .usgr-cf-head {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .usgr-units-choices  {
                display: flex;
                gap: 5px;
                justify-content: flex-end;
                label {
                    cursor: pointer;
                    padding: 0;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: 500;
                    &.active {
                        color: var(--usgr-primary, #009FFF);
                    }
                }
            }

            // components-range-control
            .components-range-control {
                &__wrapper {
                    color: var(--usgr-primary, #009FFF);
                    min-height: 25px;
                    height: 25px;
                    flex: 1 1 90% !important;

                    .acf-bf-cf-b-afb-199wkr {
                        background-color: var(--usgr-primary, #009FFF);
                    }
                }
            }

            .usgr-cf-body {
                display: flex;
                align-items: center;
                gap: 8px;

                .components-base-control,
                .components-base-control__field,
                .usgr-control-field {
                    flex-grow: 1;
                    margin-bottom: 0;
                }

                .usgr-undo-btn {
                    font-size: 16px;
                    color: var(--usgr-secondary, #555);
                    background-color: transparent;

                    span {
                        font-size: inherit;
                        line-height: 1.5;
                    }

                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
