.dowp-components-popover,
.dowp-panel-control-wrapper {
	.dowp-control-field {
		&.dowp-cf-typography-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.components-button {
				font-size: 12px;
				height: 28px !important;
				width: 28px !important;
				padding: 0;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #d5dadf;
				background: transparent;
				border-radius: 3px;
				color: #1e1e1e;

				> span {
					transition: unset;
					line-height: 1;
					height: 22px;
					font-size: 19px
				}

				svg {
					width: 15px;
				}

				&:hover {
					background-color: #d3e1e9;
				}
			}
		}
	}

	.dowp-typography-content {
		min-width: 230px;
		padding: 5px 6px;
	}
}