/* tab css */
:root {
    /*--gtusers-primary-color: #5d3dfd;*/
    --gtusers-primary-color: #4C6FFF;
    --gtusers-primary-rgb: 76, 111, 255;
    --gtusers-primary-dark: #3d5cd7;
    --gtusers-primary-light: #6885fd;
    --gtusers-secondary-color: #0654c4;
    --gtusers-bg-light: #F7FAFC;
}
