.cub-users-block-wrapper {
    font-size: 16px;

    .user-item-col {
        padding-bottom: 30px;
    }

    .user-item-col a {
        text-decoration: none !important;
    }

    .user-inner-wrapper {
        height: 100%;
    }

    .user-avatar {
        max-width: 100%;
    }

    .user-avatar a {
        overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .user-avatar img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-position: 50% 50%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
    }

    .user-name {
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 24px;
        font-weight: 500;
    }

    .user-name a {
        transition: 0.4s;
        color: #212121;

        &:hover {
            color: #000000;
        }
    }

    .load-user-button {
        border-radius: 4px;
        border: none;
        color: #454b50;
        outline: none;
        box-shadow: none;
        transition: 0.4s;
        height: auto;
        line-height: 36px;
        padding: 1px 15px;
        background: #dae2ef;
        font-size: 14px;
        white-space: nowrap;
        font-weight: 500;
        display: inline-block;
        cursor: pointer;
    }

    .load-user-button:hover {
        background: #5790e2;
        outline: none;
        box-shadow: none;
        color: #fff;
    }

    .user-designation {
        color: #555;
        margin-bottom: 15px;
    }

}

.list-style .cub-users-block-wrapper {
    .user-inner-wrapper {
        display: flex;
    }
    .user-avatar {
        flex: 0 0 160px;
        margin-right: 15px
    }
}

.cub-user-social-icons {
    margin-bottom: 10px;

    a {
        color: inherit !important;
        display: inline-block;
        margin-right: 8px;
        text-decoration: none !important;
        transition: 0.4s;
    }

    a i {
        width: inherit !important;
        height: inherit !important;
        color: #555;
        font-size: 16px;
        display: block;
    }

    svg path {
        fill: #555;
        transition: 0.4s;
    }

    a.facebook i {
        color: #1877f2;
    }

    a.twitter i {
        color: #1da1f2;
    }

    a.linkedin i {
        color: #0a66c2;
    }

    a.google i {
        color: #dd4b39;
    }

    a.pinterest i {
        color: #e60023;
    }

    a:hover i {
        color: #000;
    }
}

.no-image-link .user-avatar a {
    pointer-events: none;
}

.cub-users-block-modal {
    max-width: 650px;
}


//Magnafic popup
.user-modal-content {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-inner {
        background: #fff;
        padding: 30px;
        width: 600px;
        max-width: 95%;
        margin: auto;
        font-size: 16px;
        max-height: calc(100% - 100px);
    }

    .modal-inner .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #dae2ef;
        margin: -31px -31px 20px;
        padding: 10px 30px;
        color: #000;
        position: sticky;
        top: -30px;

        span {
            font-size: 20px;
            font-weight: 500;
            color: #454545;
            margin-bottom: 2px;
            display: block;
        }
    }

    .modal-inner .close-modal-btn {
        background: transparent !important;
        color: #555555 !important;
        padding: 0;
        font-size: 30px;
        width: 40px;
        height: 35px;
        margin-right: -17px;
        outline: none;
        border: none;
        box-shadow: none;

        &:hover {
            color: #f00 !important;
        }

        i {
            font-size: inherit;
        }
    }

    .modal-inner {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .modal-inner .bio-content.loading:before {
        content: "\f463";
        font-family: dashicons;
        position: relative;
        width: 40px;
        height: 40px;
        font-size: 40px;
        animation: cubSpin 3s linear infinite forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        left: calc(50% - 20px);
        color: #bec2c5;
        pointer-events: none;
    }
}

.components-modal__header {
    background: #b7c2c9;
    height: 50px;
}

.components-modal__content p {
    font-size: 16px;
}

@-webkit-keyframes cubSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes cubSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.open-modal .user-modal-content {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.not-found-wrap {
    padding: 30px;
    background: #f1f1f5;
}

.dowp .dashicons,
.dowp .dashicons-before:before {
    width: inherit;
    height: inherit;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}