.cub-users-block-wrapper {
    .user-item-col a {
        text-decoration: none !important;
    }

    .user-avatar {
        max-width: 100%;
    }

    .user-avatar a {
        overflow: hidden;
        display: inline-block;
    }

    .user-avatar img {
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
    }

    .user-name {
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 24px;
    }

    .user-name a {
        transition: 0.4s;
        color: #212121;

        &:hover {
            color: #000000;
        }
    }

    .load-user-button {
        border-radius: 4px;
        border: 1px solid #ddd;
        color: #555;
        outline: none;
        box-shadow: none;
        transition: 0.4s;
    }

    .load-user-button:hover {
        background: #f1f1f1;
        outline: none;
        box-shadow: none !important;
    }

    .user-email {
        margin-bottom: 15px;
    }
    .user-email a {
        color: #555;
    }

    .user-email a:hover {
        color: #0a4b78;
    }
}

.cub-user-social-icons {
    a {
        color: inherit !important;
        display: inline-block;
        margin-right: 8px;
        text-decoration: none !important;
    }

    a i {
        width: inherit !important;
        height: inherit !important;
        color: #555;
        font-size: 16px;
        display: block;
    }

    a:hover i {
        color: #000;
    }
}

.no-image-link .user-avatar a {
    pointer-events: none;
}

.cub-users-block-modal {
    max-width: 650px;
}


//Magnafic popup
#usermodal {
    margin: auto;
    padding: 20px;
    width: 500px;
    background: #fff;
    h1 {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #666;
    }
    p {
        line-height: 1.75;
    }
}