.cub-users-block-wrapper {
    .user-item-col a {
        text-decoration: none;
    }

    .user-avatar {
        max-width: 100%;
    }

    .user-avatar a {
        overflow: hidden;
        display: inline-block;
    }

    .user-avatar img {
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
    }

    .user-name {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 24px;
    }
    .user-name a {
        transition: 0.4s;
        color: #212121;
        &:hover {
            color: #000000;
        }
    }

    .social-icons {
        a {
            color: inherit !important;
            display: inline-block;
            margin-right: 8px;
        }
        a i {
            width: inherit !important;
            height: inherit !important;
            color: #555;
            font-size: 16px;
            display: block;
        }
        a:hover i {
            color: #000;
        }
    }
}

.no-image-link .user-avatar a {
    pointer-events: none;
}