.draggable {
    background-color: #e9edf0;
    margin: 10px;
    cursor: move;
}

.dragged {
    opacity: 0.7;
    width: 248px;
}

.placeholder {
    opacity: 0.5;
}
.dowp-sortable-field {
    .dowp-cf-body .List {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        .draggable {
            margin: 0;
            padding: 4px 10px;
        }
    }
}