.usgr-users-block-wrapper {
    &.list-style {
        .user-inner-wrapper {
            display: flex;
            align-items: flex-start;
        }


        .user-avatar {
            flex: 0 0 160px;
            margin-right: 20px;
            margin-bottom: 0;
            aspect-ratio: 50 / 50;
        }

        //List Style 2
        &.usgr-list2 {
            .user-inner-wrapper {
                padding: 20px;
                background: var(--card-bg);
                border: 1px solid var(--usgr-border2);
                border-radius: 10px;

                .user-link {
                    border-radius: 8px;
                }
            }
        }

        //List Style 3
        &.usgr-list3 {
            .user-item-col {
                @media (min-width: 992px) {
                    padding-left: 60px;
                }
            }

            .user-inner-wrapper {
                align-items: flex-start;
                padding: 24px;
                flex-wrap: wrap;

                .user-avatar {
                    flex: 0 0 100px;
                    @media (min-width: 992px) {
                        margin-left: -60px;
                        flex: 0 0 160px;
                    }


                    .user-link {
                        border: 1px solid var(--usgr-border2);
                    }
                }
            }
        }
    }
}