.dowp-users-block-wrapper {
    &.list-style {
        .user-inner-wrapper {
            display: flex;
            align-items: flex-start;
        }


        .user-avatar {
            flex: 0 0 160px;
            margin-right: 20px;
            margin-bottom: 0;
            aspect-ratio: 50 / 50;
        }

        //List Style 2
        &.dowp-list2 {
            .user-inner-wrapper {
                padding: 20px;
                background: var(--card-bg, #FFFFFF);
                border: 1px solid #d9dadc;
                border-radius: 10px;

                .user-avatar {
                    border-radius: 8px;
                }
            }
        }

        //List Style 3
        &.dowp-list3 {
            .user-item-col {
                padding-left: 60px;
            }

            .user-inner-wrapper {
                align-items: center;
                padding: 30px 20px;

                .user-avatar {
                    margin-left: -60px;
                    position: relative;
                    border: 1px solid #e5e5e5;
                }
            }
        }
    }
}