.dowp-carousel {
    opacity: 0;
}

.dowp-users-block-wrapper {
    &.slider-style {
        &.has-arrow .dowp-row {
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 10px;
            overflow: hidden;
            display: flex;
        }

        .user-item-col {
            padding-left: 15px;
            padding-right: 15px;
        }

        .draggable {
            background: none;
        }

        .slick-track {
            display: flex;
        }

        .slick-slide {
            float: none
        }

        &.height-equal .slick-slide {
            height: inherit !important;
        }

        .slick-arrow {
            position: absolute;
            z-index: 99;
            top: 50%;
            transform: translateY(-50%);
            text-indent: -999999px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: rgba(0, 0, 0, .2);
            outline: none;
            background: $title_color;
            border: none;

            &:hover {
                opacity: 0.8;
            }

            &.slick-prev {
                left: 15px;
                transform: translateY(-50%) rotate(180deg);
            }

            &.slick-next {
                right: 15px;
            }

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                -webkit-mask: url(../images/arrow.svg);
                mask: url(../images/arrow.svg);
                display: block;
                z-index: 999;
                opacity: 1;
                background: $white_color;
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: 46%;
            }
        }

        .slick-dots {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            width: 100%;

            button {
                background: $title_color;
                width: 12px;
                height: 12px;
                display: block;
                text-indent: -9999px;
                overflow: hidden;
                border-radius: 50% !important;
                padding: 0;
                margin: 0 3px;
                border: none;
                opacity: .5;
                outline: none;

                &:hover {
                    background: $title_color;
                    opacity: 1;
                }
            }

            .slick-active button {
                background: $title_color;
                opacity: 1;
                transform: scale(1.12);
            }
        }
    }
}