
.dowp-user-social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    .phone {
        color: #34B7F1;
    }

    .twitter {
        color: #1DA1F2;
    }

    .facebook {
        color: #1877F2;
    }

    .linkedin {
        color: #0077B5;
    }

    .googleplus {
        color: #DB4437;
    }

    .pinterest {
        color: #E60023;
    }

    .instagram {
        color: #E1306C;
    }

    .whatsapp {
        color: #25D366;
    }

    .skype {
        color: #00AFF0;
    }

    .tiktok {
        color: #69C9D0;
    }

    .youtube {
        color: #FF0000;
    }

    .reddit {
        color: #FF4500;
    }


    .lg-left & {
        justify-content: flex-start;
    }

    .lg-right & {
        justify-content: flex-end;
    }

    .lg-center & {
        justify-content: center;
    }

    @media (max-width: 1200px) {
        .md-left & {
            justify-content: flex-start;
        }
        .md-right & {
            justify-content: flex-end;
        }
        .md-center & {
            justify-content: center;
        }
    }

    @media (max-width: 767px) {
        .sm-left & {
            justify-content: flex-start;
        }
        .sm-right & {
            justify-content: flex-end;
        }
        .sm-center & {
            justify-content: center;
        }
    }

    a {
        display: inline-flex;
        transition: 0.4s;
        color: $title_color;
        font-size: 16px;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            color: $primary_color;
        }

    }
}

.social-wide-square .dowp-user-social-icons,
.social-wide-round .dowp-user-social-icons,
.social-bg-square .dowp-user-social-icons,
.social-bg-round .dowp-user-social-icons,
.social-border-square .dowp-user-social-icons,
.social-border-round .dowp-user-social-icons {
    a {
        width: 24px;
        height: 24px;
        border: 1px solid currentColor;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        &:hover {
            background-color: currentColor;

            svg {
                color: #FFFFFF;
            }
        }
    }
}

.social-wide-square .dowp-user-social-icons,
.social-wide-round .dowp-user-social-icons {
    a {
        width: 80px;
        height: 28px;
        background-color: currentColor;

        svg {
            color: #FFFFFF;
        }
    }
}

.social-wide-round .dowp-user-social-icons a {
    border-radius: 30px;
}

.social-bg-round .dowp-user-social-icons,
.social-border-round .dowp-user-social-icons {
    a {
        border-radius: 50%;
    }
}

.social-bg-round .dowp-user-social-icons,
.social-bg-square .dowp-user-social-icons {
    a {
        background-color: currentColor;

        svg {
            color: #FFFFFF;
        }

        &:hover {
            opacity: .8;
        }
    }
}