
.thumbnail-social.dowp-user-social-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 15px;
    height: calc(100% - 30px);

    ul.dowp-social-list {
        &,
        > li {
            height: 25px;


            a {
                width: 26px;
                height: 26px;
                aspect-ratio: 1/1;
            }

            ul {
                opacity: 0;
                visibility: hidden;
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: calc(100% - 30px);
                column-gap: 4px;
                position: absolute;
                left: 0;
                top: 27px;
                transition: 0.4s;
                width: 56px;

                li {
                    transition: 0.4s;
                    opacity: 0;
                    transform: translateY(-10px);
                }
            }

            &:hover > ul {
                opacity: 1;
                visibility: visible;

                li {
                    transform: translateY(0);
                    opacity: 1;
                    @for $i from 1 through 15 {
                        &:nth-child(#{$i}) {
                            transition-delay: 0.05s * $i;
                        }
                    }
                }
            }
        }
    }

    ul {
        height: 100%;

        li {
            display: block;
        }
    }


    //Different Style

    &.spos-l-t {
        top: 15px;
        left: 15px;
    }

    &.spos-r-t {
        top: 15px;
        left: auto;
        right: 15px;

        ul.dowp-social-list ul {
            left: auto;
            right: 0;
            direction: rtl;
        }
    }

    &.spos-r-b,
    &.spos-l-b {
        justify-content: flex-end;
        bottom: 18px;
        left: 15px;
        top: auto;

        ul.dowp-social-list ul {
            top: auto;
            bottom: 27px;
            justify-content: flex-end;
        }

    }

    &.spos-r-b {
        left: auto;
        right: 15px;

        ul.dowp-social-list ul {
            direction: rtl;
            right: 0;
            left: auto;
        }

    }
}

.dowp-user-social-icons {

    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 -4px;
    }

    li {
        display: inline-block;
        margin-bottom: 4px;

        a {
            transition: 0.4s;
            color: $title_color;
            font-size: 16px;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            color: $primary_color;
        }

    }

    .phone {
        color: #34B7F1;
    }

    .twitter {
        color: #1DA1F2;
    }

    .facebook {
        color: #1877F2;
    }

    .linkedin {
        color: #0077B5;
    }

    .googleplus {
        color: #DB4437;
    }

    .pinterest {
        color: #E60023;
    }

    .instagram {
        color: #E1306C;
    }

    .whatsapp {
        color: #25D366;
    }

    .skype {
        color: #00AFF0;
    }

    .tiktok {
        color: #69C9D0;
    }

    .youtube {
        color: #FF0000;
    }

    .reddit {
        color: #FF4500;
    }

}

.social-wide-square .dowp-user-social-icons,
.social-wide-round .dowp-user-social-icons,
.social-bg-square .dowp-user-social-icons,
.social-bg-round .dowp-user-social-icons,
.social-border-square .dowp-user-social-icons,
.social-border-round .dowp-user-social-icons {
    a {
        width: 26px;
        height: 26px;
        border: 1px solid currentColor;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        aspect-ratio: 1 / 1;

        &:hover {
            background-color: currentColor;

            svg {
                color: #FFFFFF;
            }
        }
    }
}

.social-wide-square .dowp-user-social-icons,
.social-wide-round .dowp-user-social-icons {
    a {
        width: 80px;
        height: 28px;
        background-color: currentColor;

        svg {
            color: #FFFFFF;
        }
    }
}

.social-wide-round .dowp-user-social-icons a {
    border-radius: 30px;
}

.social-bg-round .dowp-user-social-icons,
.social-border-round .dowp-user-social-icons {
    a {
        border-radius: 50%;
    }
}

.social-bg-round .dowp-user-social-icons,
.social-bg-square .dowp-user-social-icons {
    a {
        background-color: currentColor;

        svg {
            color: #FFFFFF;
        }

        &:hover {
            opacity: .8;
        }
    }
}
