.dwp-users-block-wrapper {
    font-size: 16px;

    .user-item-col {
        padding-bottom: 30px;
    }

    .user-item-col a {
        text-decoration: none !important;
    }

    .user-inner-wrapper {
        height: 100%;
    }

    .user-content-wrap {
        color: $body_color;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 15px;

        > *:last-child {
            margin-bottom: 0 !important;
        }
    }

    .user-avatar {
        display: flex;
        max-width: 100%;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .user-avatar a {
        overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .user-avatar img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-position: 50% 50%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
    }

    .user-name {
        margin-bottom: 3px;
        font-size: 22px;
        line-height: 1.3;
        font-weight: 500;
        margin-top: -2px;
    }

    .user-name {
        a {
            transition: 0.4s;
            color: #212121;

            &:hover {
                color: var(--dowp-primary);
            }
        }
        + .user-designation {
            margin-top: -15px;
        }
    }

    .user-designation {
        color: $title_color;
        font-size: 17px;
        + .user-short-desc {
            margin-top: -5px;
        }
    }

    .user-short-desc {
        font-size: 16px;
        color: $title_color;
        + .user-biography {
            margin-top: 5px;
        }
    }

    .user-biography {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .read-articles-btn {
        margin-top: 5px;
    }
    .read-btn {
        padding: 7px 17px;
        border-radius: 4px;
        display: inline-block;
        font-size: 15px;
        transition: 0.4s;
        line-height: 1.3;
        border: 1px solid transparent;
    }

    .btn-default {
        background: #d4dbe3;
        color: #212121;

        &:hover {
            background: #c1cad2;
        }
    }

    .btn-dark {
        background: #565656;
        color: #FFFFFF;

        &:hover {
            background: #2a2a2a;
        }
    }

    .btn-light {
        background: #eceef2;
        border-color: #ced2db;
        color: #565656;

        &:hover {
            color: #212121;
            border-color: #acb0b7;
        }
    }

    .btn-primary {
        background: $primary_color;
        color: #FFFFFF;

        &:hover {
            background: $primary_dark;
        }
    }

    //Grid Style Start
    //====================================
    &.grid-style {
        &.dowp-grid2 {
            .user-inner-wrapper {
                padding: 20px;
                background: #FFFFFF;
                border: 1px solid #d9dadc;
                border-radius: 10px;

                .user-avatar {
                    border-radius: 8px;
                    border: 1px solid #eaebed;
                }
            }
        }

        &.dowp-grid3 {
            .user-inner-wrapper {
                padding: 15px 30px 25px;
            }

            .user-avatar {
                margin-top: -70px;
            }

            .user-item-col {
                padding-top: 55px;
            }
        }
    }

    //List Style Start
    //====================================
    &.list-style {
        .user-inner-wrapper {
            display: flex;
            align-items: flex-start;
        }


        .user-avatar {
            flex: 0 0 160px;
            margin-right: 20px;
            margin-bottom: 0;
        }

        //List Style 2
        &.dowp-list2 {
            .user-inner-wrapper {
                padding: 20px;
                background: #FFFFFF;
                border: 1px solid #d9dadc;
                border-radius: 10px;

                .user-avatar {
                    border-radius: 8px;
                }
            }
        }

        //List Style 3
        &.dowp-list3 {
            .user-item-col {
                padding-left: 60px;
            }

            .user-inner-wrapper {
                align-items: center;
                padding: 30px 20px;

                .user-avatar {
                    margin-left: -60px;
                    position: relative;
                    border: 1px solid #e5e5e5;
                }
            }
        }
    }

}


.dwp-user-social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;


    .lg-left & {
        justify-content: flex-start;
    }

    .lg-right & {
        justify-content: flex-end;
    }

    .lg-center & {
        justify-content: center;
    }

    @media (max-width: 1200px) {
        .md-left & {
            justify-content: flex-start;
        }
        .md-right & {
            justify-content: flex-end;
        }
        .md-center & {
            justify-content: center;
        }
    }

    @media (max-width: 767px) {
        .sm-left & {
            justify-content: flex-start;
        }
        .sm-right & {
            justify-content: flex-end;
        }
        .sm-center & {
            justify-content: center;
        }
    }

    a {
        display: inline-flex;
        font-size: 20px;
        color: inherit !important;
        text-decoration: none !important;
        transition: 0.4s;

        span {
            display: flex;
        }
    }

    svg path {
        transition: 0.4s;
    }
}

.no-image-link .user-avatar a {
    pointer-events: none;
}

.not-found-wrap {
    padding: 30px;
    background: #f1f1f5;
}

.wp-admin .dwp-users-block-wrapper .user-avatar a {
    pointer-events: none;
    cursor: pointer;
}

[class*='dowp-icon'] svg {
    width: 1em;
    height: 1em;
}