.dowp-users-block-wrapper {
    font-size: 16px;

    .user-inner-wrapper {
        position: relative;
        background: var(--card-bg, transparent);
        transition: 0.3s;
    }
    &.height-equal {
        .user-inner-wrapper {
            height: 100%;
        }

        :is(.read-articles-btn, .dowp-user-social-icons):last-child {
            margin-top: auto;
        }

        .hr-2 {
            margin-top: auto !important;
        }

        .hr-2 ~ div {
            margin-top: 0 !important;
        }
    }

    .user-item-col {
        padding-bottom: 30px;
    }

    &.no-multi-bg.need-multiple-bg .user-item-col {
        &:nth-child(4n + 1) .user-content-wrap {
            background-color: #E6F0F2;
        }
        &:nth-child(4n + 2) .user-content-wrap {
            background-color: #E9E7E7;
        }
        &:nth-child(4n + 3) .user-content-wrap {
            background-color: #F3EDDE;
        }
        &:nth-child(4n + 4) .user-content-wrap {
            background-color: #E8EFCD;
        }
        &:nth-child(5n + 4) .user-content-wrap {
            background-color: #DCF5F2;
        }
    }

    .user-content-wrap {
        color: $body_color;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 15px;

        > *:last-child {
            margin-bottom: 0 !important;
        }
    }

    .hr-1 {
        span {
            display: block;
            width: 20%;
            height: 4px;
            background: $primary_color;
        }
    }

    .hr-2 {
        span {
            display: block;
            width: 100%;
            height: 1px;
            background: #DDD;
        }
    }

    &.lg-left :is(.hr-1, .hr-2) span {
        margin-right: auto;
    }
    &.lg-center :is(.hr-1, .hr-2) span {
        margin-left: auto;
        margin-right: auto;
    }
    &.lg-right :is(.hr-1, .hr-2) span {
        margin-left: auto;
    }

    .user-avatar {
        display: flex;
        max-width: 100%;
        margin-bottom: 15px;
        overflow: hidden;
        background: #DDD;
        position: relative;
    }

    .user-avatar a {
        overflow: hidden;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .user-avatar img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-position: 50% 50%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
        transition: 0.3s;
    }

    .user-inner-wrapper:hover {
        .user-avatar img {
            transform: scale(1.1);
            transform-origin: center center;
        }
    }

    .user-name {
        margin-bottom: 3px;
        font-size: 22px;
        line-height: 1.3;
        font-weight: 500;
        margin-top: -2px;

        a {
            transition: 0.4s;
            color: $title_color;
            text-decoration: none;

            &:hover {
                color: $primary_color;
            }
        }

    }

    .user-contact {
        p {
            margin: 0;
            padding: 0;
        }

        a {
            color: $title_color;
            text-decoration: underline;

            &:hover {
                color: $primary_color;
            }
        }
    }

    .user-designation {
        color: $title_color;
        font-size: 16px;
        font-weight: 500;
    }

    .user-short-desc {
        font-size: 16px;
        color: $title_color;
    }

    .user-biography {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .read-articles-btn {
        margin-top: 5px;
    }

    .read-btn {
        padding: 7px 17px;
        border-radius: 4px;
        display: inline-block;
        font-size: 15px;
        transition: 0.4s;
        line-height: 1.3;
        border: 1px solid transparent;
        text-decoration: none;
    }

    .btn-default {
        background: #f0f3f7;
        color: #212121;
        border-color: #d2d5d9;

        &:hover {
            background: #c1cad2;
        }
    }

    .btn-dark {
        background: #565656;
        color: #FFFFFF;

        &:hover {
            background: #2a2a2a;
        }
    }

    .btn-light {
        background: #eceef2;
        border-color: #ced2db;
        color: #565656;

        &:hover {
            color: #212121;
            border-color: #acb0b7;
        }
    }

    .btn-primary {
        background: $primary_color;
        color: #FFFFFF;

        &:hover {
            background: $primary_dark;
        }
    }


    &.no-order .user-designation + .user-short-desc,
    &.no-order .user-name + .user-designation {
        margin-top: -15px;
    }

    &.no-order .user-short-desc + .user-biography {
        margin-top: 5px;
    }

}

.dowp-user-social-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;


    .lg-left & {
        justify-content: flex-start;
    }

    .lg-right & {
        justify-content: flex-end;
    }

    .lg-center & {
        justify-content: center;
    }

    @media (max-width: 1200px) {
        .md-left & {
            justify-content: flex-start;
        }
        .md-right & {
            justify-content: flex-end;
        }
        .md-center & {
            justify-content: center;
        }
    }

    @media (max-width: 767px) {
        .sm-left & {
            justify-content: flex-start;
        }
        .sm-right & {
            justify-content: flex-end;
        }
        .sm-center & {
            justify-content: center;
        }
    }

    a {
        display: inline-flex;
        font-size: 20px;
        transition: 0.4s;
        color: $title_color;

        &:hover {
            color: $primary_color;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
        }
    }

    svg path {
        transition: 0.4s;
    }
}

.no-image-link .user-avatar a {
    pointer-events: none;
}

.not-found-wrap {
    padding: 30px;
    background: #f1f1f5;
}

.wp-admin .dowp-users-block-wrapper .user-avatar a {
    pointer-events: none;
    cursor: pointer;
}

[class*='dowp-icon'] svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.dowp-editor-markup {
    .page-numbers a {
        pointer-events: none;
    }
}
