:root {
    --dowp-primary: #009FFF;
    --dowp-primary-dark: #007FCB;
    --dowp-border: #b7b7c3;
    --dowp-body: #313234;
    --dowp-transition: .4s;
}

$primary_color: #009FFF;
$primary_dark: #007FCB;
$title_color: #212121;
$body_color: #4e4e4e;