@import "utility/variables";
@import "dragable";

.dowp-sidebar {
    .components-panel {
        .block-editor-block-card {
            background: #e1e7eb;
            padding-bottom: 0;
        }

        .block-editor-block-card__title {
            margin-top: -5px;
            font-size: 16px;
        }
    }
}

.components-panel__body .dowp-btn-hover-group {
    display: flex;
    margin-top: 5px;
    margin-bottom: 15px;
    gap: 0;
    button {
        flex: 1;
        height: 27px;
        padding: 0 15px 2px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        text-transform: uppercase;
        font-size: 12px;
        border-radius: 0;
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
        &:hover {
            background-color: #F1F1F4FF;
            color: #212121;
        }
        &.is-primary:hover,
        &.is-primary {
            color: #FFFFFF;
            background-color: $primary_color;
            outline: none !important;
            box-shadow: none !important;
        }
    }
}

.dowp-panel-control-wrapper {
    background: #fff;
    .dowp-control-section {
        padding: 0 16px 15px;
        border-radius: 0;
        border-bottom: 10px solid #e1e7eb;
        margin-bottom: 15px;
        margin-left: -17px;
        margin-right: -17px;
    }
    .disable-shorting .dowp-sortable-field {
        opacity: .5;
        * {
            pointer-events: none;
        }
    }
    .dowp-gradient-color-wrap {
        margin-top: 10px;
        position: relative;

        .components-custom-gradient-picker__gradient-bar {
            width: calc(100% - 26px);
            border-radius: 30px !important;
            overflow: hidden;
        }
        .dowp-undo-btn {
            position: absolute;
            top: 5px;
            right: -5px;
        }

        .components-custom-gradient-picker__ui-line {
            > .components-flex-item:nth-child(1) {
                margin-top: 5px !important;
                margin-right: 5px !important;
                flex: 0 0 38%;
            }

            .components-angle-picker-control__input-field {
                margin-right: 11px;
            }
            .components-spacer {
                padding-top: 14px;
            }
        }

        .components-circular-option-picker__custom-clear-wrapper {
            position: absolute !important;
            bottom: 0;
            right: -5px;
            button {
                height: 25px;
                border-radius: 30px;
                font-size: 11px;
                text-transform: uppercase;
            }
        }
    }


    .components-border-control {
        legend {
            line-height: 2.5;
        }

        .components-input-control__container {
            height: 34px;
            overflow: hidden;
            border: 1px solid #DDD;
            > * {
                height: 34px !important;
                border: none !important;
                * {
                    border: none !important;
                }
            }
            .components-input-control__input {
                border-left: 1px solid #DDD !important;
                border-right: 1px solid #DDD !important;
                padding: 0 3px;
                min-width: 28px !important;
                text-align: center;
            }

        }
    }

    .dowp-undo-btn:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    .components-base-control {
        margin-bottom: 12px;

        div, p {
            margin-top: 0;
            margin-bottom: 0;
            gap: 0;
        }

        &.should-single-line .dowp-sortable-react-select div[class*="-ValueContainer"] > div {
            &:not(:last-child) {
                flex: 0 0 100%;
                cursor: move;
                background: #e9edf0;

                [role=button] {
                    margin-left: auto;
                    cursor: pointer;
                }
            }

            &:only-child,
            &:last-child {
                background: #FFF;
            }
        }

        .dowp-sortable-react-select {
            div[class*="-ValueContainer"] {
                > div {
                    margin: 2px !important;
                }
            }
        }
    }

    .dowp-help {
        display: block;
        margin-top: -10px;
        margin-bottom: 15px;
        color: rgb(117, 117, 117);
    }

    .dowp-control-heading {
        font-size: 14px;
        font-weight: 600;
        color: var(--dowp-primary-dark);
        margin-bottom: 15px;
        border-bottom: 1px solid var(--dowp-primary);
        padding-bottom: 10px;
    }

    .components-input-control__label,
    .components-base-control__label {
        font-size: 13px !important;
        font-weight: 400 !important;
        display: inline-block !important;
        color: var(--dowp-body) !important;
        text-transform: inherit !important;
        line-height: 1.4 !important;
        padding: 0;
        margin-bottom: 7px !important;
    }

    .dowp-btn-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        button {
            flex: 1;
            border: 1px solid #c7c7d3 !important;
            outline: none !important;
            box-shadow: none !important;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 0;
            height: 30px;
            line-height: 30px;
            font-size: 13px;
            color: inherit;
            background-color: #fff;

            &.is-primary {
                color: inherit !important;
                background-color: #e2e6e9 !important;
                outline: none;
            }
        }
    }

    .components-tab-panel__tabs {
        border-top: 1px solid #e0e0e0;
        button {
            display: inline-flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 60px;

            &:not(:last-child) {
                border-right: 1px solid #e0e0e0;
            }
            i, span, svg path {
                transition: 0.4s;
            }

            &:hover {
                color: var(--dowp-primary)
            }

            &:hover svg path {
                fill: var(--dowp-primary)
            }
        }

        button.active-tab {
            color: var(--dowp-primary);

            svg path {
                fill: var(--dowp-primary)
            }
        }
    }

    .components-panel__body {
        border-bottom: 1px solid #ced7db;
    }

    .dowp-cf-layout-style .dowp-cf-head,
    .dowp-column-group .dowp-cf-head {
        margin-bottom: 5px;
        display: block;
    }

    .dowp-column-group .dowp-column-group-inner .components-select-control__input {
        padding: 0 18px 0 6px !important;
        font-size: 13px !important;
    }

    .dowp-column-group .dowp-column-group-inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
        justify-content: center;
    }

    .dowp-column-group .dowp-column-group-inner .dowp-control-field {
        align-items: flex-start;
        flex-direction: column-reverse;
        margin: 0;
        label {
            font-size: 10px !important;
            margin-top: -4px;
        }
    }

    .dowp-column-group .dowp-column-group-inner .dowp-control-field > div {
        line-height: 1;
        margin-bottom: 5px;
    }

    .dowp-column-group .dowp-column-group-inner .dowp-control-field .components-input-control__label {
        padding-bottom: 0 !important;
        color: #979797;
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
    }

    input[type=checkbox],
    input[type=color],
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=radio],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    select,
    textarea {
        border: 1px solid #ced7db !important;
        border-radius: 3px;

        &:focus {
            box-shadow: none !important;
            outline: none !important;
            border-color: var(--dowp-primary) !important;
        }
    }

    .components-input-control__backdrop {
        border: none !important;
        outline: none !important;
        visibility: hidden;
        opacity: 0;
    }

    .dowp-repeater {
        input,
        input:focus {
            border: none !important;
        }
    }

    /*Alignment Button Style*/
    .dowp-control-field.dowp-cf-alignment-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dowp-cf-head {
            display: flex;
        }
    }

    .dowp-control-field.dowp-cf-alignment-wrap .dowp-btn-group .dowp-button {
        padding: 3px 10px;
    }

    //Alignment button end

    .dowp-control-field.label-inline .components-base-control__field,
    .dowp-control-field.label-inline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .dowp-control-field.label-inline.has-help {
        display: block;
    }

    .dowp-control-field.label-inline label {
        padding: 0 !important;
        line-height: 1.4;
    }

    .dowp-control-field.label-inline .components-text-control__input,
    .dowp-control-field.label-inline .components-input-control__container {
        max-width: 120px;
        margin-left: 10px;
    }

    .dowp-control-field.label-inline.dowp-expand .components-text-control__input,
    .dowp-control-field.label-inline.dowp-expand .components-input-control__container {
        max-width: 160px;
        margin-left: 10px;
    }

    .dowp-control-field.label-inline.dowp-expand label {
        margin-bottom: 0 !important;
    }

    .dowp-control-field.label-inline .components-base-control__field > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    /*dowp-toggle-control-field*/
    .dowp-toggle-control-field .components-base-control__field .components-flex,
    .dowp-toggle-control-field .components-base-control__field {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .dowp-toggle-control-field.dowp-padding-left .components-toggle-control__label {
        position: relative;
        padding-left: 10px;
    }

    .dowp-toggle-control-field.dowp-padding-left .components-toggle-control__label::before {
        content: "— ";
    }


    .components-form-toggle .components-form-toggle__track {
        background-color: #b8c0d1;
        border: 1px solid #b8c0d1;
    }

    .components-form-toggle .components-form-toggle__thumb {
        background-color: #ffffff;
        border: 5px solid #ffffff;
    }

    .components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
        box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px var(--dowp-primary)
    }

    .components-form-toggle.is-checked .components-form-toggle__track {
        background-color: var(--dowp-primary);
        border: 9px solid transparent;
    }

    hr {
        margin: 15px 0;
    }


    .components-base-control .dowp-units-choices,
    .dowp-control-field .dowp-units-choices {
        display: flex;
        gap: 5px;
        justify-content: flex-end;
    }


    .components-base-control .dowp-units-choices label,
    .dowp-control-field .dowp-units-choices label {
        cursor: pointer;
        padding: 0;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 500;
    }


    .components-base-control .dowp-units-choices label:hover,
    .components-base-control .dowp-units-choices label.active,
    .dowp-control-field .dowp-units-choices label:hover,
    .dowp-control-field .dowp-units-choices label.active {
        color: var(--dowp-admin-color-primary, #0066ff);
    }

    .dowp-dimension-wrap .dowp-cf-head {
        display: flex;
        justify-content: space-between;
    }

    .dowp-cf-body-btn-wrap {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .dowp-cf-body-btn-wrap .dowp-btn-group {
        flex-grow: 1;
        max-width: 60px;
        margin-left: auto;
    }

    .dowp-cf-body-btn-wrap .components-button {
        padding: 0;
        height: 27px;
        width: 30px;
    }

    .dowp-cf-body-btn-wrap .components-button .classic-btn,
    .dowp-cf-body-btn-wrap .components-button .gradient-btn {
        display: flex;
        justify-content: center;
    }

    .dowp-cf-background-wrap .dowp-bg-img {
        margin-top: 8px;
    }

    .dowp-cf-body-btn-wrap .dowp-undo-btn {
        padding: 0;
        background-color: transparent;
    }

    .dowp-cf-body-btn-wrap .dowp-undo-btn:hover {
        background-color: transparent;
    }

    .dowp-cf-body-btn-wrap .dowp-undo-btn:focus,
    .dowp-cf-body-btn-wrap .dowp-undo-btn:hover,
    .dowp-panel-control-wrapper .dowp-cf-body-btn-wrap .dowp-undo-btn:active {
        outline: 0;
        box-shadow: none;
    }
}

//End .dowp-panel-control-wrapper


.dowp-tab-panel {

    .dowp-tab-btn {
        position: relative;
        z-index: 1;
    }


    .dowp-tab-btn {
        i {
            font-size: 19px;
        }

        &.active-tab:before {
            right: auto;
            left: -30px;
            border-radius: 0 0 15px 0;
            box-shadow: 18px 0 0 0 #fff;
            border-width: 0 1px 1px 0;
        }

        &.active-tab:after {
            left: auto;
            right: -30px;
            border-radius: 0 0 0 15px;
            box-shadow: -18px 0 0 0 #fff;
            border-width: 0 0 1px 1px;
        }

        .dowp-tab-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;
        }
    }
}

.dowp-tab-panel .components-panel__body-toggle.components-button {
    font-size: 13px;
    font-weight: 500;
    padding: 13px 48px 14px 16px;
}

.dowp-tab-panel .is-opended .components-panel__body-toggle.components-button,
.dowp-tab-panel .components-panel__body-toggle.components-button:hover {
    color: #000;
}

.dowp-tab-panel .components-panel__body.is-opened .components-panel__body-title .components-button {
    color: var(--dowp-admin-color-primary, #06f);
}

.dowp-tab-panel .components-panel__body {
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #e0e0e0;
    &:last-child {
        border-bottom: 5px solid #e0e0e0;
    }
}

.dowp-tab-panel .is-opened .components-panel__body-toggle.components-button {
    border-bottom: 1px solid #ddd;
}

.dowp-tab-panel .components-panel__body > .components-panel__body-title:hover {
    background: #FFFFFF;
}

.dowp-tab-panel .components-panel__body.is-opened > .components-panel__body-title {
    margin: -16px -16px 15px;
}

.dowp-tab-panel .components-panel__body-toggle.components-button:focus {
    box-shadow: none;
}
