:root {
    --gtusers-admin-color-primary: #009FFF;
    --gtusers-admin-color-primary-dark: #007FCB;
    color: var(--gtusers-admin-color-body);
}

.gtusers-sidebar {
    .components-panel .block-editor-block-card {
        background: #ffffff;
    }
}

.gtusers-panel-control-wrapper {

    background: #f7f9f9;
    .components-tab-panel__tabs {
        background: #ffffff;

        button {
            display: inline-flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 60px;
        }

        button.active-tab {
            background: #f7f9f9;
            border-radius: 10px 10px 0 0;
            border: 1px solid #ced7db;
            border-bottom: none;
        }
    }

    .components-panel__body {
        border-top: 1px solid #ced7db;
    }
}

/*Scroll top*/
.interface-interface-skeleton__sidebar.gtusers-sidebar {
    background: #e6e9ec;
}

.interface-interface-skeleton__sidebar .edit-post-sidebar__panel-tabs {
    transition: top 0.2s ease-in-out;
}

.interface-interface-skeleton__sidebar.gtusers-should-collapse .edit-post-sidebar__panel-tabs {
    top: -50px;
}

.gtusers-panel-control-wrapper .components-panel__body.is-opened.gtusers-collapse-active {
    height: 42px;
    overflow: hidden;
}

/*Scroll top end*/

.gtusers-tab-panel .gtusers-tab-btn {
    position: relative;
    z-index: 1;

    &:first-child::before {
        content: none;
    }

    &:last-child::after {
        content: none;
    }
}

.gtusers-tab-panel .gtusers-tab-btn:before,
.gtusers-tab-panel .gtusers-tab-btn:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 12px;
    z-index: -1;
    bottom: 0;
    top: auto;
    background: none !important;
    transition: none !important;
    border-color: #ced7db;
    border-style: solid;
    border-width: 0 0 0 0;
}

.gtusers-tab-panel {
    .gtusers-tab-btn {
        i {
            font-size: 19px;
        }
        &.active-tab:before {
            right: auto;
            left: -30px;
            border-radius: 0 0 15px 0;
            box-shadow: 18px 0 0 0 #f7f9f9;
            border-width: 0 1px 1px 0;
        }

        &.active-tab:after {
            left: auto;
            right: -30px;
            border-radius: 0 0 0 15px;
            box-shadow: -18px 0 0 0 #f7f9f9;
            border-width: 0 0 1px 1px;
        }

        .gtusers-tab-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;
        }
    }
}