:root {
    --gtusers-primary: #009FFF;
    --gtusers-primary-dark: #007FCB;
    --gtusers-border: #b7b7c3;
    --gtusers-body: #313234;
    --gtusers-transition: .4s;
    color: var(--gtusers-body);
}

.gtusers-sidebar {
    .components-panel {
        .block-editor-block-card {
            background: #e1e7eb;
            padding-bottom: 0;
        }

        .block-editor-block-card__title {
            margin-top: -5px;
            font-size: 16px;
        }
    }
}

.gtusers-panel-control-wrapper {

    background: #fff;

    .components-base-control {
        margin-bottom: 12px;

        div, p {
            margin-top: 0;
            margin-bottom: 0;
            gap: 0;
        }

    }

    .gtusers-help {
        display: block;
        margin-top: -10px;
        margin-bottom: 15px;
        color: rgb(117, 117, 117);
    }

    .gtusers-control-heading {
        font-size: 14px;
        font-weight: 600;
        color: var(--gtusers-primary-dark);
        margin-bottom: 15px;
        border-bottom: 1px solid var(--gtusers-primary);
        padding-bottom: 10px;
    }

    .components-input-control__label,
    .components-base-control__label {
        font-size: 13px !important;
        font-weight: 400 !important;
        display: inline-block !important;
        color: var(--gtusers-body) !important;
        text-transform: inherit !important;
        line-height: 1.4 !important;
        padding: 0;
        margin-bottom: 7px;
    }

    .gtusers-btn-group {
        display: flex;
        align-items: center;

        button {
            flex: 1;
            border: 1px solid #c7c7d3 !important;
            outline: none !important;
            box-shadow: none !important;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 0;
            height: 30px;
            line-height: 30px;
            font-size: 13px;
            color: inherit;
            background-color: #fff;

            &.is-primary {
                color: inherit !important;
                background-color: #d3e1e9 !important;
                outline: none;

            }
        }
    }

    .components-tab-panel__tabs {
        background: #e1e7eb;
        padding: 10px 10px 0;

        button {
            display: inline-flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 60px;

            i, span, svg path {
                transition: 0.4s;
            }

            &:hover {
                color: var(--gtusers-primary)
            }

            &:hover svg path {
                fill: var(--gtusers-primary)
            }
        }

        button.active-tab {
            background: #fff;
            border-radius: 10px 10px 0 0;
            border: 1px solid #ced7db;
            border-bottom: none;
            color: var(--gtusers-primary) svg path {
                fill: var(--gtusers-primary)
            }
        }
    }

    .components-panel__body {
        border-top: 1px solid #ced7db;
    }


    .gtusers-column-group .gtusers-cf-head {
        margin-bottom: 5px;
        display: block;
    }

    .gtusers-column-group .gtusers-column-group-inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
        justify-content: center;
    }

    .gtusers-column-group .gtusers-column-group-inner .gtusers-control-field {
        align-items: center;
        flex-direction: column-reverse;
        margin: 0;
    }

    .gtusers-column-group .gtusers-column-group-inner .gtusers-control-field > div {
        line-height: 1;
        margin-bottom: 5px;
    }

    .gtusers-column-group .gtusers-column-group-inner .gtusers-control-field .components-input-control__label {
        padding-bottom: 0 !important;
        color: #979797;
        font-weight: 600;
        font-size: 11px;
        text-transform: uppercase;
    }

    input[type=checkbox],
    input[type=color],
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=radio],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    select,
    textarea {
        border: 1px solid #ced7db !important;
        border-radius: 3px;

        &:focus {
            box-shadow: none !important;
            outline: none !important;
            border-color: var(--gtusers-primary) !important;
        }
    }

    .components-input-control__backdrop {
        border: none !important;
        outline: none !important;
        visibility: hidden;
        opacity: 0;
    }

    .gtusers-repeater {
        input,
        input:focus {
            border: none !important;
        }
    }

    /*Alignment Button Style*/
    .gtusers-control-field.gtusers-cf-alignment-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .gtusers-control-field.gtusers-cf-alignment-wrap .gtusers-btn-group .gtusers-button {
        padding: 3px 10px;
    }

    //Alignment button end

    .gtusers-control-field.label-inline .components-base-control__field,
    .gtusers-control-field.label-inline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .gtusers-control-field.label-inline.has-help {
        display: block;
    }

    .gtusers-control-field.label-inline label {
        padding: 0 !important;
        line-height: 1.4;
    }

    .gtusers-control-field.label-inline .components-text-control__input,
    .gtusers-control-field.label-inline .components-input-control__container {
        max-width: 120px;
        margin-left: 10px;
    }

    .gtusers-control-field.label-inline.gtusers-expand .components-text-control__input,
    .gtusers-control-field.label-inline.gtusers-expand .components-input-control__container {
        max-width: 160px;
        margin-left: 10px;
    }

    .gtusers-control-field.label-inline .components-base-control__field > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    /*gtusers-toggle-control-field*/
    .gtusers-toggle-control-field .components-base-control__field .components-flex,
    .gtusers-toggle-control-field .components-base-control__field {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .gtusers-toggle-control-field.gtusers-padding-left .components-toggle-control__label {
        position: relative;
        padding-left: 10px;
    }

    .gtusers-toggle-control-field.gtusers-padding-left .components-toggle-control__label::before {
        content: "— ";
    }


    .components-form-toggle .components-form-toggle__track {
        background-color: #b8c0d1;
        border: 1px solid #b8c0d1;
    }

    .components-form-toggle .components-form-toggle__thumb {
        background-color: #ffffff;
        border: 5px solid #ffffff;
    }

    .components-form-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
        box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px var(--gtusers-primary)
    }

    .components-form-toggle.is-checked .components-form-toggle__track {
        background-color: var(--gtusers-primary);
        border: 9px solid transparent;
    }

    hr {
        margin: 15px 0;
    }


    .components-base-control .gtusers-units-choices,
    .gtusers-control-field .gtusers-units-choices {
        display: flex;
        gap: 5px;
        justify-content: flex-end;
    }


    .components-base-control .gtusers-units-choices label,
    .gtusers-control-field .gtusers-units-choices label {
        cursor: pointer;
        padding: 0;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 500;
    }


    .components-base-control .gtusers-units-choices label:hover,
    .components-base-control .gtusers-units-choices label.active,
    .gtusers-control-field .gtusers-units-choices label:hover,
    .gtusers-control-field .gtusers-units-choices label.active {
        color: var(--gtusers-admin-color-primary, #0066ff);
    }

    .gtusers-dimension-wrap .gtusers-cf-head {
        display: flex;
        justify-content: space-between;
    }

    .gtusers-cf-background-wrap {
        border: 1px solid var(--gtusers-border);
        padding: 0 8px 8px;
    }


    .gtusers-cf-body-btn-wrap {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 5px;
        background: #e3eaf5;
        border-bottom: 1px solid #dbdbdb;
        margin-bottom: -1px;
        height: 30px;
        margin-left: -8px;
        margin-right: -8px;
    }

    .gtusers-cf-body-btn-wrap .gtusers-btn-group {
        flex-grow: 1;
        max-width: 60px;
        margin-left: auto;
    }

    .gtusers-cf-body-btn-wrap .components-button {
        padding: 0;
        height: 27px;
        width: 30px;
        border: 1px solid var(--gtusers-admin-color-primary, #06f);
    }

    .gtusers-cf-body-btn-wrap .components-button .classic-btn {
        font-size: 10px;
    }

    .gtusers-cf-body-btn-wrap .components-button .gradient-btn {
        font-size: 12px;
    }

    .gtusers-cf-body-btn-wrap .gtusers-undo-btn {
        padding: 0;
        background-color: transparent;
    }

    .gtusers-cf-body-btn-wrap .gtusers-undo-btn:hover {
        background-color: transparent;
    }

    .gtusers-cf-body-btn-wrap .gtusers-undo-btn:focus,
    .gtusers-cf-body-btn-wrap .gtusers-undo-btn:hover,
    .gtusers-panel-control-wrapper .gtusers-cf-body-btn-wrap .gtusers-undo-btn:active {
        outline: 0;
        box-shadow: none;
    }
}

//End .gtusers-panel-control-wrapper


.gtusers-tab-panel {

    .gtusers-tab-btn {
        position: relative;
        z-index: 1;
    }

    .gtusers-tab-btn:before,
    .gtusers-tab-btn:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 12px;
        z-index: -1;
        bottom: 0;
        top: auto;
        background: none !important;
        transition: none !important;
        border-color: #ced7db;
        border-style: solid;
        border-width: 0 0 0 0;
    }


    .gtusers-tab-btn {
        i {
            font-size: 19px;
        }

        &.active-tab:before {
            right: auto;
            left: -30px;
            border-radius: 0 0 15px 0;
            box-shadow: 18px 0 0 0 #fff;
            border-width: 0 1px 1px 0;
        }

        &.active-tab:after {
            left: auto;
            right: -30px;
            border-radius: 0 0 0 15px;
            box-shadow: -18px 0 0 0 #fff;
            border-width: 0 0 1px 1px;
        }

        .gtusers-tab-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;
        }
    }
}

/*Scroll top*/
.interface-interface-skeleton__sidebar.gtusers-sidebar {
    background: #e6e9ec;
}

.interface-interface-skeleton__sidebar .edit-post-sidebar__panel-tabs {
    transition: top 0.2s ease-in-out;
}

.interface-interface-skeleton__sidebar.gtusers-should-collapse .edit-post-sidebar__panel-tabs {
    top: -50px;
}

.gtusers-panel-control-wrapper .components-panel__body.is-opened.gtusers-collapse-active {
    height: 42px;
    overflow: hidden;
}

/*Scroll top end*/


